header{
    background-color: #fff;
    height: 10vh;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header .logo{
    font-size: 1.5rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#A4B7B1, #095F62);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
header a{
    margin-left: 30px;
    transition: 0.5s;
    font-weight: 600;
}
header a:hover{
    color: var(--mainColor);
}
header span{
    width: auto;
    padding: 0 6px;
    background-color: var(--mainColor);
    color: #fff;
    margin-right: 4px;
    border-radius: 1rem;
    font-weight: 400;
}
header h4{
    font-weight: 500;
    margin-right: 20px;
}
header .nav{
    transition: all 0.5s ease;
}
header button:hover{
    box-shadow: var(--boxShadow);
}
header .nav ul{
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
header .toogle{
    display: none;
}
@media screen and (max-width: 800px){
    header{
        padding: 0;
    }
    header .logo{
        margin-top: 30px;
    }
    header .button{
        display: none;
    }
    header .nav .flex{
        display: none;
        margin-top: 20px;
    }
    header .toogle {
        display: block;
        margin-top: 20px;
    }
    header .small{
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        background-color: var(--mainColor);
        padding: 20px;
    }

    header li a{
        display: inline-block;
        color: #fff;
        margin-bottom: 20px;
    }
}